



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: gray;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #b3b3b3;
  line-height: 1.5;
}

.txt1:hover {
  color: white;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: linear-gradient(to bottom left, #ff0000, #ff3333,#ff6666, #808080,#4d4d4d, #404040);
  background: linear-gradient(to top right, #cc0000, #ff1a1a, #ff6666, #ffb3b3, #ffe8e8);
  background-color: rgba(255,255,255,0.9);*/
  background-color: #ffe8e8;



}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 37px 55px;

  background: rgba(128, 0, 0, 0.9);
  /*background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef);*/
}



/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px; 
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}

/*------------------------------------------------------------------
[ StudentLoginInput ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.input100::placeholder {
  color: #808080;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.focus-input100::after {
  /*font-family: Material-Design-Iconic-Font;*/
  font-family: Calibri;
  font-size: 18px;
  color: #ffb3b3;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  /*background: linear-gradient(to left top, #800000, #ffe8e8);
  background: #9152f8;
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef);*/
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #800000;
}

.login100-form-btn:hover:before {
  opacity: 0;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 5px;
  padding: 4px 10px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(80%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*---------------SIDE NAVIGATION BAR----------------*/


body {
  margin: 0;
  font-family: "Lato", sans-serif;
  /*background: linear-gradient(to bottom left, #ff0000, #ff3333,#ff6666, #808080,#4d4d4d, #404040); */
}

.sidebar {
  margin: 0;
  padding: 0;
  max-width: 200px;
  background-color: #660000;
  /*background: linear-gradient(to bottom top, #ff0000, #ff3333,#ff6666, #808080,#4d4d4d, #404040); */
  position: fixed;
  height: 100%;
  overflow: none;
  

}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


div.content {
  margin-left: 200px;
  padding:5px;
  
  font-family: Poppins-Regular;
  
}


.dashhead{
  color: white;
  padding: 20px;
  font-family: Poppins-Regular;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  font-size: 30px;
}

@media screen and (max-width: 200px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.btn-maroon{
  background-color: #660000;
  color: white;
  padding: 8px;
  margin: 5px;
  font-size: 12px;
  border-color: white;
}

.btn-maroon:hover:not(.active) {
  background-color: #808080;
  color: white;
}

/*/*---------------------------COMPANIES FILTER------------------------------------*/

.btn-cmaroon{
  background-color: #660000;
  color: white;
  padding: 8px;
  margin: 5px;
  font-size: 12px;
  border-color: white;
  border-radius: 10px;
}

.btn-cmaroon:hover:not(.active) {
  background-color: #808080;
  color: white;
}*/

/*-----------------------*/
.glyphicon-star{
  padding-left: 26px;
}

.glyphicon-star-empty{
  padding-left: 26px;
}

/*---------------------------------------FORMS.PHP------------------------------------*/

button.accordion, button.accordionM {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
	margin-top: -20px;
	margin-bottom: -8px;
	margin-left: 10%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover, button.accordionM.active, button.accordionM:hover {
    background-color: #660000;
    color: white;
}

button.accordion:after, button.accordionM:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after , button.accordionM.active:after{
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
div.panel, div.panelM {
    padding: 0 18px;
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
	position: relative;
	width: 80%;
	margin-left: 10%;
	
}
p.supporting{
	margin-left: 10%;
	}
h4.header4{
	margin-left: 5%
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show, div.panelM.show {
    opacity: 1;
	width: 80%;
	margin-left: 10%;
    max-height: 1500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

/*---------------------------------------MESSAGES.PHP------------------------------------*/

/* button.accordionM { */
    /* background-color: #eee; */
    /* color: #444; */
    /* cursor: pointer; */
    /* padding: 10px; */
    /* width: 80%; */
    /* text-align: left; */
    /* border: none; */
    /* outline: none; */
    /* transition: 0.4s; */
    /* font-size: 15px; */
/* } */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* button.accordionM.active, button.accordionM:hover { */
    /* background-color: #660000; */
    /* color: white; */
/* } */

/* button.accordionM:after { */
    
    /* font-size: 13px; */
    /* color: black; */
    /* float: right; */
    /* margin-left: 5px; */
/* } */

/* button.accordionM.active:after { */
    
    /* color: #fff; */
/* } */

/* Style the accordion panel. Note: hidden by default */
/* div.panelM { */
    /* padding: 0 18px; */
    /* background-color: #eee; */
    /* max-height: 0; */
    /* overflow: hidden; */
    /* transition: 0.6s ease-in-out; */
    /* opacity: 0; */
/* } */

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
/* div.panelM.show { */
    /* opacity: 1; */
    /* max-height: 1500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */ */
/* } */


/*----------------------------------WELCOME PAGE---------------------------------*/
.welcome{
  padding: 50px;
  font-family: Poppins-Medium;
  font-size: 45px;
}

/*----------------------------------CREATE NEW MESSAGE MODAL---------------------------------*/

/* .modal { */
    /* display: none; /* Hidden by default */ */
    /* position: fixed; /* Stay in place */ */
    /* z-index: 1; /* Sit on top */ */
    /* padding-left: 460px; /* Location of the box */ */
    /* padding-top: 100px; */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; /* Full width */ */
    /* height: 100%; /* Full height */ */
    /* overflow: auto; /* Enable scroll if needed */ */
    /* background-color: rgb(0,0,0); /* Fallback color */ */
    /* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ */
/* } */

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    padding-left: 170px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* .modal-header { */
  /* position: relative; */
    /* padding: 10px; */
    /* background-color: #730000; */
    /* color: white; */
/* } */


.modal-header
{
	text-align:center;
}
.modal-body {
  padding: 20px;
  font-size: 20px;
}

/* .modal-footer {
    padding: 0px;
    background-color: #730000;
    color: white;
} */

/*COMPANY TABLE*/

.comptable {
    font-size: 20px;
}

.dashtitle{
    /* background-color: #ffe8e8; */
    margin: 15px auto;
		/* padding: 5px; */
		color: #660000;
}

.dashboard{
    margin: 10px;
}

.list-group-implinks .list-group-item{
    color: #800000 !important;
    font-size: 16px;
}

.list-group-implinks .list-group-item:hover{
    background-color: #800000;
    color: #ffffff !important;

}

/* .modal {
  text-align: center;
} */

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 25%;
  }
}

.modal-dialog {
  display: flex;
  text-align: left;
	vertical-align: middle;
	margin: 0 auto;
}

.item{
   max-height: 300px;
   color: #800000;
}
.dash{
    width: 100%;
    height: 70px;
    color:white;
    font-size: 18px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);

}

/*.dashhead{
    font-color: yellow;
    font-size: 30px;
}*/

.uploadfile{
    background-color: #800000; /* Green */
    border: none;
    color: white;
    padding: 10px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.uploadfile:hover {
    background-color: #808080;
    color: white;
}

.btn-welcuser{
    background-color: #660000;
    color: white;
    padding: 8px;
    margin: 5px;
    font-size: 15px;
    border-color: white;

}

.btn-welcuser:hover:not(.active) {
    background-color: #808080;
    color: white;
}

.btn-welcadmin{
    background-color: #660000;
    color: white;
    padding: 8px 15px 8px 15px;
    margin: 5px;
    font-size: 15px;
    border-color: white;

}

.btn-welcadmin:hover:not(.active) {
    background-color: #808080;
    color: white;
}

.ficdashboard{
    margin: 10px;
}

.ficdashtitle{
    background-color: #ffe8e8;
    margin-bottom: 10px;
    padding: 5px;
}

.ficdashhead{
  color: white;
  padding: 20px;
  font-family: Poppins-Regular;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  font-size: 30px;
}

.search
{
  border: 2px solid #800000;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.search input[type="text"]
{
  border: 0px;
  width: 90%;
  padding: 10px 10px;
}

.search input[type="text"]:focus
{
  outline: 0;
}

.search input[type="submit"]
{
  border: 0px;
  background: none;
  background-color: #800000;
  color: #fff;
  float: right;
  padding: 10px;
  border-top-right-radius: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
				cursor:pointer;
		width: 10%;
}

/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
  .search
  {
    width: 95%;
    margin: 0 auto;
  }

}


